<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../output.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('../statics/login.jpg');">
        <div class="bg-[#181A1C]/84 text-white rounded-2xl shadow-lg w-full max-w-sm p-8">

            <div class="flex flex-col items-center mb-6">
                <img src="../statics/logo.png">
            </div>

            <h2 class="text-3xl font-semibold text-center mb-1">Masuk</h2>
            <p class="text-base text-center mb-6">Selamat datang kembali!</p>

            <label for="username" class="block text-sm font-semibold">Username</label>
            <input type="text" id="username" placeholder="Masukkan username"
                    class="mt-1 mb-4 w-full px-4 py-2 rounded-full border border-gray-600 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400">

            <label for="password" class="block text-sm font-semibold">Kata Sandi</label>
            <div class="relative mt-1 mb-2">
                <input type="password" id="password" placeholder="Masukkan kata sandi"
                    class="w-full px-4 py-2 rounded-full text-white border border-gray-600 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400">
                <span class="absolute inset-y-0 right-3 flex items-center text-gray-400 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                    </svg>
                </span>
            </div>

            <div class="flex justify-between text-sm mb-6">
                <span>Belum punya akun? <a href="./register.html" class="text-white-400 hover:underline font-semibold">Daftar</a></span>
                <a href="#" class="text-white font-semibold hover:underline">Lupa kata sandi?</a>
            </div>

            <a href="./index.html"
                class="block w-full text-center bg-[#3D4142] transition duration-150 ease-in-out hover:bg-[#616161] rounded-full py-2 font-medium mb-2">
                Masuk
            </a>

            <div class="flex items-center justify-center mb-2">
                <span class="text-gray-400 text-sm">Atau</span>
            </div>

            <a href="#"
                class="flex items-center justify-center space-x-2 w-full border border-[#757575] transition duration-150 ease-in-out hover:bg-[#616161] rounded-full py-2 font-medium">
                <img src="https://www.svgrepo.com/show/355037/google.svg" class="w-5 h-5">
                <span>Masuk dengan Google</span>
            </a>
        </div>
    </div>

</body>
</html>